OpenESB-SE-3.1.2.3-a/
/NetBeansProjects/exmEjecucionDinamica/nbproject/private/
/NetBeansProjects/exmEjecucionDinamica/build/
/notas_clase/proyectos/EscBaileWeb/build/
/notas_clase/proyectos/EscBaileWeb/dist/
/notas_clase/proyectos/EscBaileWeb/nbproject/private/
/NetBeansProjects/EJB/EJBEnvios/nbproject/private/
/NetBeansProjects/EJB/EJBEnvios/build/
/NetBeansProjects/EJB/EJBEnvios/dist/
/NetBeansProjects/EJB/EJBPagos/nbproject/private/
/NetBeansProjects/EJB/EJBPagos/build/
/NetBeansProjects/EJB/EJBPagos/dist/