OpenESB-SE-3.1.2.3-a/
/NetBeansProjects/exmEjecucionDinamica/nbproject/private/
/NetBeansProjects/exmEjecucionDinamica/build/
/notas_clase/proyectos/EscBaileWeb/build/
/notas_clase/proyectos/EscBaileWeb/dist/
/notas_clase/proyectos/EscBaileWeb/nbproject/private/
/NetBeansProjects/EJB/EJBEnvios/nbproject/private/
/NetBeansProjects/EJB/EJBEnvios/build/
/NetBeansProjects/EJB/EJBEnvios/dist/
/NetBeansProjects/EJB/EJBPagos/nbproject/private/
/NetBeansProjects/EJB/EJBPagos/build/
/NetBeansProjects/EJB/EJBPagos/dist/
/NetBeansProjects/EJB/WSTest/nbproject/private/
/NetBeansProjects/EJB/TestWS/dist/
/NetBeansProjects/EJB/EJBAlmacen/nbproject/private/
/NetBeansProjects/EJB/EJBAlmacen/build/
/NetBeansProjects/EJB/EJBAlmacen/dist/
/NetBeansProjects/EJB/PagosBypass/nbproject/private/
/NetBeansProjects/EJB/PagosBypass/build/
/NetBeansProjects/EJB/PagosBypassCA/nbproject/private/
/NetBeansProjects/EJB/PagosBypassCA/build/
/NetBeansProjects/EJB/PagosBypassCA/src/jbiServiceUnits/
/NetBeansProjects/EJB/PagosBypassCA/dist/
/NetBeansProjects/EJB/PagosBypassCA/test/results/
/NetBeansProjects/EJB/MiTiendita/nbproject/private/